In [97]:
import pymongo
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [98]:
client.list_database_names()

['Employee',
 'admin',
 'config',
 'crawlerDB',
 'local',
 'numtest',
 'test',
 'testdb']

In [99]:
dblist = client.list_database_names()
dbName = 'Employee'

if dblist.index(dbName)==-1:
    print('DB does not exist')
else:
    print('Db exists')
    #mydb=client['Employee']
    mydb = client.Employee

Db exists

In [100]:
mydb.list_collection_names()

['employeeinformation', 'inventory']

In [101]:
if 'employeeinformation' in mydb.list_collection_names():
    print('collection exists')
    empinfo=mydb.employeeinformation
    empinfo.drop()
else:
    print('collection not exists')

collection exists

In [102]:
for record in empinfo.find({}):
    print(record)

In [103]:
record={
        'firstname':'Krish',
        'lastname':'Naik',
        'department':'Analytics',
        'qualification':'BE',
        'age':29
        }
x = empinfo.insert_one(record)

In [104]:
x.inserted_id

ObjectId('5eb04f045f1fb4d36c475f2f')

In [105]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [106]:
xs = empinfo.insert_many(records)

In [107]:
xs.inserted_ids

[ObjectId('5eb04f075f1fb4d36c475f30'),
 ObjectId('5eb04f075f1fb4d36c475f31'),
 ObjectId('5eb04f075f1fb4d36c475f32'),
 ObjectId('5eb04f075f1fb4d36c475f33')]

In [108]:
## Simple way of querying
empinfo.find_one()

{'_id': ObjectId('5eb04f045f1fb4d36c475f2f'),
 'age': 29,
 'department': 'Analytics',
 'firstname': 'Krish',
 'lastname': 'Naik',
 'qualification': 'BE'}

In [109]:
## Select * from employeeinformation
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('5eb04f045f1fb4d36c475f2f'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('5eb04f075f1fb4d36c475f30'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5eb04f075f1fb4d36c475f31'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5eb04f075f1fb4d36c475f32'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5eb04f075f1fb4d36c475f33'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [110]:
## Query the json documents based on equality conditions
# Select * from employeeinformation where firstname=krish

for record in empinfo.find({'firstname':'Krish'}):
    print(record)

{'_id': ObjectId('5eb04f045f1fb4d36c475f2f'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}

In [111]:
## Query documents using query operators($in,$lt,$gt)
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('5eb04f075f1fb4d36c475f32'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5eb04f075f1fb4d36c475f33'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [112]:
## And and Query operators
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('5eb04f075f1fb4d36c475f33'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [113]:
## OR operators
for record in empinfo.find({'$or':[{'firstname':'Krish'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('5eb04f045f1fb4d36c475f2f'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}